
<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles__main">
    <app-big-card
      [id]="datas[3].id"
      [photo]="datas[3].photo"
      [title]="datas[3].title"
      [description]="datas[3].description"
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      *ngFor="let v of datas.slice(0,3); let i = index"
      [id]="v.id"
      [photo]="v.photo"
      [title]="v.title"
      [ngClass]="{'add-border': i < 2}"
    ></app-small-card>
  </div>
</div>
