.articles {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.articles__others {
  display: flex;
  flex-direction: column;
  gap: clamp(7px, 2.5vw, 20px);
  height: 100%;
}

.add-border {
  border-bottom: 1px solid white;
}

@media screen and (max-width: 992px) {
  .articles {
    flex-wrap: wrap;
    gap: 50px;
  }
}
