<header>

  <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles__main">
    <app-big-card
      photo="https://picsum.photos/400/300"
      title="Lorem ipsum dolor sit amet consectetur adipisicing elit."
      description="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, voluptate amet harum a esse necessitatibus! Quisquam, voluptatum. Quisquam, voluptatum."
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photo="https://picsum.photos/188"
      title="Lorem ipsum dolor sit amet consectetur adipisicing elit."
    ></app-small-card>
    <hr>
    <app-small-card
      photo="https://picsum.photos/200"
      title="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, in?"
    ></app-small-card>
    <hr>
    <app-small-card
      photo="https://picsum.photos/201"
      title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam!"
    ></app-small-card>
  </div>
</div>
